<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhis.surveillance.dao.InfoMapper">
    <select id="queryList" resultType="com.dhis.surveillance.vo.DataVO">
        select s.name, s.province, s.city, s.longitude, s.latitude, s.status, s.confirmed_date, s.cure_date, s.death_date, s.sex, s.age from surveillance_system_data s
    </select>
    <select id="current_infection_cases" resultType="java.lang.Integer">
        select count(1) from surveillance_system_data where status = 'confirmed'
    </select>
    <select id="total_infection_cases" resultType="java.lang.Integer">
        select count(1) from surveillance_system_data where status = 'confirmed' or status = 'cured' or status='death'
    </select>
    <select id="cured_infection_cases" resultType="java.lang.Integer">
        select count(1) from surveillance_system_data where status = 'cured'
    </select>
    <select id="suspected_infection_cases" resultType="java.lang.Integer">
        select count(1) from surveillance_system_data where status = 'suspend'
    </select>
    <select id="death_infection_cases" resultType="java.lang.Integer">
        select count(1) from surveillance_system_data where status = 'death'
    </select>
    <select id="female_infection_cases" resultType="java.lang.Integer">
        select count(1) from surveillance_system_data where sex = 'male'
    </select>
    <select id="male_infection_cases" resultType="java.lang.Integer">
        select count(1) from surveillance_system_data where sex = 'female'
    </select>
    <select id="cords" resultType="java.util.Map" parameterType="java.lang.String">
        select s.longitude, s.latitude from surveillance_system_data s
    </select>
    <select id="everyday_infection_cases" resultType="java.util.Map" parameterType="java.lang.String">
        select DATE_FORMAT(confirmed_date,'%Y-%m-%d') as date,count(*) as count from surveillance_system_data where status = 'confirmed' group by date order by date asc
    </select>
    <select id="everyday_death_cases" resultType="java.util.Map" parameterType="java.lang.String">
        select DATE_FORMAT(death_date,'%Y-%m-%d') as date,count(*) as count from surveillance_system_data where status = 'death' group by date order by date asc
    </select>
    <select id="everyday_cured_cases" resultType="java.util.Map" parameterType="java.lang.String">
        select DATE_FORMAT(cure_date,'%Y-%m-%d') as date,count(*) as count from surveillance_system_data where status = 'cured' group by date order by date asc
    </select>

</mapper>